nav{
    font-family: $plain;
    background-color: black;

      a.navbar-brand{ 
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
        font-weight: 700;    
      }
    
     .nav-link{
        color: white;
        position: relative;

        &:hover{
          color: white;
        }

        &.active{
          font-weight: bold;
          color: lighten($primary, 15) !important;
        }

        &:after{
          content:"";
          position: absolute;
          background-color: $primary;
          height: 1px;
          width: 0;
          bottom: 5px;
          transition: 0.3s;
          left: 0;
       }

       &:hover:after{
        width: 100%;
       }
      }
       
    }