$secondary: #c29938;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';



$custom-theme-colours: (
    'mycolour1': #862939, 
    'mycolour2': #479579
);

$theme-colors: map-merge($custom-theme-colours, $theme-colors);

@import '../../node_modules/bootstrap/scss/bootstrap.scss'