$primary: #CF2663;
$white: #FFFFFF;
$accents: #C997C7;
$plain:  Comfortaa, sans-serif;
$logo: #FFFFFF;

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
    }

nav{
    font-family: $plain;
    background-color: black;
    a.navbar-brand{ 
        color: $primary;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
        font-weight: 700;    
    }

    ul.navbar-nav li.nav-item .nav-link{
        color: white;
        position: relative;
    }
    
     ul.navbar-nav li.nav-item .nav-link:after{
        content:"";
        position: absolute;
        background-color: $primary;
        height: 1px;
        width: 0;
        bottom: 5px;
        transition: 0.3s;
        left: 0;
     }
    
     ul.navbar-nav li.nav-item .nav-link:hover::after{
        width: 100%; 
    }
}

div.carousel-item{
    height: 40vh;

    img{
        width: 100%;
    }
}


div#theme-line-container{
  width: 95vw;
  height: 300px;
  margin: 5vh auto;
  position: relative;

  div.pink-rectangle {
    width: 90%;
    height: 140px;
    @include flex-center();
    position: absolute;
    top: 30px;
    right: 5%;
    z-index: 1;
  
    h1{
        font-family: $plain;
        font-size: 32px;
        color: white;
    }
  }
  
  $dasharray: 1vw;
  $height: 100%;
  $width: 100%;

  #animated-dashed-rectangle{
    width: 95%;
  }
  
  svg#animated-dashed-rectangle {
      width: 100%;
      position: absolute;

    #stroke {
      @include flex-center();
      width: $height;
      height: $width;
      stroke: $accents;
      stroke-width: 5px;
      stroke-dasharray: $dasharray;
      fill: none;
      animation: sketchIn 15s linear alternate infinite;
      animation-play-state: paused; 
  
  
      @keyframes sketchIn {
        0% {
          stroke-dashoffset: $dasharray;
        }
        100% {
          stroke-dashoffset: 220px;
        }
      }
    }
  }

}

div#theme-line-container:hover > svg#animated-dashed-rectangle > #stroke{
  animation-play-state: running;
}

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import "~bootstrap-icons/font/bootstrap-icons.scss";


$theme-colors: (
    'primary': #CF2663,
    'white': #FFFFFF
);

// $custom-theme-colours: (
//     'primary-light': #CF2663,
//     'nav-links': #FFFFFF, 
// );

// $theme-colors: map-merge($custom-theme-colours, $theme-colors);

@import '../../node_modules/bootstrap/scss/bootstrap.scss'